  .btn
    display inline-block
    border-radius 3px
    font-size 21px  
    line-height 21px
    padding 5px 10px
    color #fff
    background #00cfe1
    user-select none
    &:hover
      cursor pointer
      background #00b9ca
    &:active
      transform scale(0.97)